/* Camera_Done */
.camera-done {
  position: relative;
  width: 430px;
  height: 932px;
  background: #FFFFFF; /* Base background, though it will be covered */
  overflow: hidden;
}

.camera-done .background-image {
  position: absolute;
  width: 713px;
  height: 950.34px;
  left: -142px;
  top: 3px;
  background-image: url('https://placehold.co/713x950/000000/FFF?text=BG');
  /* background: url('Assets/camera-bg.jpg'); */
  filter: blur(25px);
  z-index: 1;
}

.camera-done .gradient-overlay {
  position: absolute;
  width: 435.5px;
  height: 943.78px;
  left: -3.25px;
  top: -5.89px;
  background: linear-gradient(189.6deg, #101010 51.57%, #AD82FA 143.78%);
  opacity: 0.8;
  backdrop-filter: blur(25px);
  z-index: 2;
}

.camera-done .status-bar {
  position: absolute;
  width: 430px;
  height: 59px;
  left: 0;
  top: 0;
  z-index: 10;
  /* ... Decorative elements ... */
}

.camera-done .time {
  position: absolute;
  left: 38.28%;
  right: 34.91%;
  top: 33.96%;
  bottom: 25.3%;
  font-family: 'SF Pro', sans-serif;
  font-style: normal;
  font-weight: 590;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}
/* ... other status elements omitted ... */


.camera-done .header-frame {
  position: absolute;
  width: 430px;
  height: 56px;
  left: 0;
  top: 59px;
  z-index: 10;
}

.camera-done .back-arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20px;
  top: 16px;
  cursor: pointer;
}
.camera-done .back-arrow img {
  width: 100%;
  height: 100%;
}

.camera-done .home-indicator {
  position: absolute;
  width: 139px;
  height: 5px;
  left: calc(50% - 139px/2 - 0.5px);
  bottom: 8px;
  background: #FFFFFF;
  border-radius: 100px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: 10;
}

.camera-done .scan-complete {
  position: absolute;
  width: 159px;
  height: 90px;
  left: calc(50% - 159px/2);
  top: 151px;
  font-family: 'SUIT', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 138.29%;
  text-align: center;
  color: #C1A0F9;
  z-index: 5;
}

.camera-done .camera-check {
  position: absolute;
  width: 100px;
  height: 100px;
  left: calc(50% - 100px/2);
  top: 763px;
  z-index: 5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera-done .camera-check .circle {
  position: absolute;
  width: 80px;
  height: 80px;
  background: rgba(173, 130, 250, 0.5);
  opacity: 0.5;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  border-radius: 50%;
}

.camera-done .camera-check .inner-circle {
  position: absolute;
  width: 63.42px;
  height: 63.42px;
  background: rgba(173, 130, 250, 0.5);
  opacity: 0.7;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), inset 2px 2px 2px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  border-radius: 50%;
}

.camera-done .camera-check .center-dot {
  position: absolute;
  width: 46.55px;
  height: 46.55px;
  background: rgba(173, 130, 250, 0.5);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), inset 2px 2px 2px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  border-radius: 50%;
}

.camera-done .photo-preview {
  position: absolute;
  width: 295px;
  height: 295px;
  left: calc(50% - 295px/2);
  top: calc(50% - 295px/2);
  background-image: url('https://placehold.co/295x295/333/FFF?text=Scanned+Image');
  /* background: url('Assets/camera-bg.jpg'); */
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 1px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  z-index: 5;
}